/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 600px */
@media (min-width: 600px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
  @font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
  }
  body {
  background-color: #f8f8f8;
  font-size: 1.8em;
  line-height: 1.6;
  font-weight: 100;
  font-family: 'Roboto-Light', Helvetica , sans-serif;
  src: url(fonts/Roboto-Thin.ttf);
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto-Light', Helvetica , sans-serif;
  margin-top: .4em;}
h1 { font-size: 3.1rem; line-height: 1.2;  letter-spacing: 0.05rem;   margin-bottom: 1.8rem; margin-top: .5em; }
h2 { font-family: 'Roboto-Medium', Helvetica , sans-serif; font-size: 2.4rem; line-height: 1.25; letter-spacing: 0.07rem;  margin-bottom: 1.2rem; color: rgb(188, 44, 97);}
h3 { font-size: 2.4rem; line-height: 1.3;  letter-spacing: 0.1rem; margin-bottom: 1.1rem;}
h4 { font-size: 2.3rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }


p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: rgb(188, 44, 97); /* taken from old website. Ragettli color: rgb(188, 44, 97) */
}
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  margin-left: 1em;
  list-style: disc;
 }
ul li::marker {
    color: rgb(188, 44, 97);
  }  
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem;
  line-height: 2rem;
 }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }
  .toprow { 
    margin-top: 21%;
  }
  


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 600px) {
  .toprow { 
    margin-top: 15%; }

}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 2000px) {
  .toprow { 
    margin-top: 19%;
  }
}




  /** Menu Navigation
  taken from https://www.youtube.com/watch?v=8QKOaTYvYUA
  -------------------------------------------------------------------------------*/

  :root {
    --background: rgba(211,211,211, .95);
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }


/* content override! */
  .content {
    height: 200vh;
    background-color: #f8f8f8;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  /* navigation styles start here */

  header-old {
    background: var(--background);
    text-align: center;
    min-height: 2.5em;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  header {
    background: var(--background);
    text-align: center;
    min-height: 2.5em;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .logo {
    margin-top: 12px;
    margin-left: 12px;
  }
  .logo img {
    max-height: 55px;
  }
 

  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: rgb(188, 44, 97); /* equals Ragettli logo color taken from old website */;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    font-family: 'Roboto-Regular';
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    /*  color: white; */
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 0.008em;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color: #000;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }


  /** Workunit
  -------------------------------------------------------------------------------*/
  picture {
    margin: 0;
  }
  .header_image-v1 {
    display: flex;
    position: relative;
    padding-top: 74px; /* navbar height is 63.15px */
  }
  .headerimage-v1 {
    margin: 0;
  }
  .headerimage-v1 img {
   max-width: 100%;
   height: auto;
  }
  .imagetext-v1 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }
  .imagetext_text-v1 {
    color: white;
    font-family: 'Roboto-Medium';
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  h1.imagetext_text-v1 {
    font-family: 'Roboto-Medium';
    font-size: 3rem;
    letter-spacing: 0.15rem;
  }
.header_image {
  display: flex;
  position: relative;
}
.headerimage {
  color: white;
  margin: 0;
}
.headerimage img {
 max-width: 100%;
 height: auto;
}
.imagetext {
  position: absolute;
  bottom: 33%;
  right: 33%;
}
.imagetext_text {
  color: white;
  font-family: 'Roboto-Medium';
  letter-spacing: 0.1rem;
}
h1.imagetext_text {
  font-family: 'Roboto-Medium';
  font-size: 4rem;
  letter-spacing: 0.15rem;
}

.imagepicture figcaption {
  color: #181818;
  margin-bottom: 2rem;
}
.image {
  display:block;
  max-width:100%;
  height:auto;
  margin-bottom: 1rem;
}
footer p {
  font-family: 'Roboto-Thin', Helvetica , sans-serif;
  font-size: 1.5rem;
}
iframe {
  border: 0px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height: 40vh;
    width: 100%;
}

.map-responsive iframe{
    position:absolute;
}

.teasercontainer {
  display: flex;
  justify-content: center;
}
.teaserblock {
  box-shadow: 0 3px 10px 0 rgb(188, 44, 97);
  margin-bottom: 1em;
  padding: 1em;
  width: 90%;
}
.teasercontainer2 {
  display: flex;
  flex-wrap: wrap;
}
.teaserblock2 {
  align-self: stretch;
  box-shadow: 0 3px 10px 0 rgb(188, 44, 97);
  margin-bottom: 1em;
  padding: 1em;
  width: 98%;
}
.teaserblock2 h2::before {
  content: "";
  display: block;
  width: 100%; /* Ensures the line spans the full width */
  height: 5px; /* Defines the thickness of the line */
  background-color: rgb(188, 44, 97); /* Sets the color of the line */
  margin: -10px 0 10px 0; /* Adds some margin for spacing above and below */
}
.video {

}
video {
  width: 100%;
  height: auto;
}


/** Image Gallery
**/

.gallery {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  overflow-x: auto;
  scrollbar-color: rgb(188, 44, 97) #f8f8f8;
}
.gallery-image {
  margin-bottom: 1.5rem;
}

.gallery > .gallery-image {
  margin: 5px;
  flex: 1;
}
.gallery-image:first-child {
  margin-left: 0;
}
.gallery-image img {
height: 200px;
margin: 5px;
max-width: none;
width: auto; 
}

.portrait img {
  max-width: 100%;
  height: auto;
}

.ul_headline {
  margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
  h1.imagetext_text-v1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .imagetext_text-v1 {
    font-size: 1.4rem;
    letter-spacing: 0.09rem;
  }
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
  h1 {margin-top: 0em; }

  header-old {
    display: grid;
    grid-template-columns: 1fr 150px minmax(150px, 810px) 1fr;
          min-height: 5em;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 300px minmax(300px, 400px) 1fr;
          min-height: 5em;
  }
  .logo-old {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
  }
  .logoimg-old {
    max-width: 150px;
  }
  .logo-old img {
    width: 100%;
    height: auto;
  }
  .logo {
  }
  .logoimg {
  }
  .logo img {
    margin-top: 1rem;
    max-height: none;
    height: auto;
    width: 21vh;
  }

  nav {
    /* all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 1em;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 2.9em;
    margin-bottom: 0;
    width: max-content;
    width: -moz-max-content;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  .header_image-v1 {
    padding-top: 0;
  }
  .imagetext-v1 {
    margin: 2rem;
    top: 50%;
    }
  .imagetext_text-v1 {
    font-size: 2.2rem;
    letter-spacing: 0.08rem;
  }
  h1.imagetext_text-v1 {
    font-family: 'Roboto-Medium';
    font-size: 4rem;
    letter-spacing: 0.15rem;
  }

}